.carousel-foto
{
width:800px;
height:600px;


}

body
{
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/sativa.png);
}


#maintext{
    margin-bottom:30px;
    position:relative;
    bottom:30px;
    font-family: 'Bree Serif',serif;

  }
/* style="font-family: 'Bree Serif', serif;" */


.black{
    /* font-weight:bold; */
   
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black
    ;
   font-size:30px;
  font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-style:italic; */
    color:#0074D9;
}
.titlefoto
{
    font-family: 'Oswald', serif;
    text-align: center;
}
.coolfont
{
  font-family: 'Oswald', sans-serif;
}
#titlepage
{
  font-family: 'Oswald', sans-serif;
}
#borderspan
{
  border-bottom:3px solid navy;
}
.lajmborder
{
    border:2px solid #0074D9
    ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.lajmtitle
{
    font-family: 'Oswald',sans-serif;
}

.lajmbody
{
    font-family: 'Lora', serif;
}
.info
{font-size: 25px;}
.confirmed
{
text-align: left;
margin-left:20px;
padding-top: 50px;
margin-top: 30px;
font-weight: bold;
font-style: italic;
}


#deadConfirmed
{
  font-family: 'Bree Serif',serif;
  text-align:center;
  font-size: 50px;
  color:red;
  margin-top: -10px;
}


.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}


.recovered
{
  text-align: right;
  margin-right: 20px;
  margin-top: -110px;
  font-weight: bold;
  font-style: italic;
}


#recv
{
  font-family: 'Bree Serif',serif;
margin-right:30px;
margin-top:-15px;
text-align: right; 
font-size: 50px;
color:green;
}
.dead
{
  text-align: center;
  font-weight: bold;
font-style: italic;
margin-top:-110px;
margin-right:00px;
}
#totalConfirmed
{ font-family: 'Bree Serif',serif;
text-align: left;
font-size: 50px;
color:orangered;
margin-left:25px;
margin-top:-10px;
}


.corona
{
  text-align: center;
  position:relative;
top:100px;
color:#0074D9;
font-size: 32px;
font-family: 'Oswald', sans-serif;

}

.box {
  word-wrap: break-word;

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    
    
    min-height: 200px;
    width: 50vw;
    margin: 100px auto;
    background: white;
    border-radius: 5px;
  }
  .shadowbackground
  {
   background-color:rgba(17, 17, 17,0.3);
  word-wrap: break-word;
  }

  .blur:hover
  {
    filter: blur(3px);
  }


  /* taken css */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oxygen);

/* Page layout */

/* body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    color: #444;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
} */

/* header {
    margin: 0;
    background: #000;
    height: 65px;
    padding: 1px;
}

article {
    margin: 40px 30px;
} */
/* 
h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 2.3em;
    line-height: 44px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    margin: 0;
    padding: 10px 0 0 30px;
    letter-spacing: 2px;
}

h2 { margin: 20px 0 10px 0;
    font-weight: 900;
}

p {
    margin: 20px 0 5px 0;
} */


/* Table Layout */

table.vitamins {
    margin: 20px 0 0 0;
    border-collapse: collapse;
    border-spacing: 0;
    background: #212121;
    color: #fff;
}

table.vitamins th, table.vitamins td {
    text-align: center;
}

table.vitamins thead {
    line-height: 12px;
    background: #2e63e7;
    text-transform: uppercase;
}

table.vitamins thead th {
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    vertical-align: bottom;
}

table.vitamins thead th:nth-child(1) {
    width: 20%;
    text-align: left;
    padding-left: 20px;
}

table.vitamins thead th:nth-child(2) {
    width: 30%;
}

table.vitamins thead th:nth-child(3) {
    width: 35%;
}

table.vitamins thead th:nth-child(4) {
    width: 15%;
}

table.vitamins tbody {
    font-size: 1em;
    line-height: 15px;
}

table.vitamins tbody tr {
    border-top: 2px solid rgba(109, 176, 231, 0.8);
    transition: background 0.6s, color 0.6s;
}

table.vitamins tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.2);
}

table.vitamins tbody tr:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.7);
    font-weight: 900;
}

table.vitamins tbody td {
    padding: 12px;
}

table.vitamins tbody tr:hover td:first-child {
    background: rgba(0,0,0,0);
}

table.vitamins tbody td:first-child {
    text-align: left;
    padding-left: 20px;
    font-weight: 700;
    background: rgba(109, 176, 231, 0.35);
    transition: backgrounf 0.6s;
}

table.vitamins tfoot {
    font-size: 0.8em;
}

table.vitamins tfoot tr {
    border-top: 2px solid #2e63e7;
}

table.vitamins tfoot td {
    color: rgba(255,255,215,0.6);
    text-align: left;
    line-height: 15px;
    padding: 15px 20px;
}


/* Mobile Layout */

@media screen and (max-width: 400px) {
    h1 {
        font-size: 34px;
        line-height: 36px;
        padding-left: 15px;
    }

    article {
        margin: 10px 15px;
    }

    table.vitamins {
        font-size: 0.8em;
    }
}

.cheaptrick
{
   color:red;
}
