.carousel-foto
{
width:800px;
height:600px;


}


#maintext{
    margin-bottom:30px;
    position:relative;
    bottom:30px;
    font-family: 'Bree Serif',serif;

  }
/* style="font-family: 'Bree Serif', serif;" */


.black{
    font-weight:bold;
   
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    font-family: 'Oswald', sans-serif;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
   
    font-size: 30px;
    color:white;
}

.coolfont
{
  font-family: 'Oswald', sans-serif;
}
#titlepage
{
  font-family: 'Oswald', sans-serif;
}
#borderspan
{
  border-bottom:3px solid navy;
}

.info
{font-size: 20px;}
.confirmed
{
text-align: left;
margin-left:20px;
padding-top: 50px;
margin-top: 30px;
font-weight: bold;
font-style: italic;
}


#deadConfirmed
{
  font-family: 'Bree Serif',serif;
  text-align:center;
  font-size: 50px;
  color:red;
  margin-top: -10px;
}

.recovered
{
  text-align: right;
  margin-right: 20px;
  margin-top: -110px;
  font-weight: bold;
  font-style: italic;
}


#recv
{
  font-family: 'Bree Serif',serif;
margin-right:30px;
margin-top:-15px;
text-align: right; 
font-size: 50px;
color:green;
}
.dead
{
  text-align: center;
  font-weight: bold;
font-style: italic;
margin-top:-110px;
margin-right:00px;
}
#totalConfirmed
{ font-family: 'Bree Serif',serif;
text-align: left;
font-size: 50px;
color:orangered;
margin-left:25px;
margin-top:-10px;
}


.corona
{
  text-align: center;
  position:relative;
top:100px;
color:#0074D9;
font-size: 32px;
font-family: 'Oswald', sans-serif;

}

.box {
  word-wrap: break-word;

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    
    
    min-height: 200px;
    width: 50vw;
    margin: 100px auto;
    background: white;
    border-radius: 5px;
  }
  .shadowbackground
  {
   background-color:rgba(17, 17, 17,0.5);
  word-wrap: break-word;
  }